* {
  margin: 0 auto;
  width: 95%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  --background-color: #fff;
  --text-color: #000;
  --box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}

body {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  --background-color: black;
  --text-color: white;
  --box-shadow: 0 4px 10px -2px rgba(255, 255, 255, 0.2);
}
